aiohttp
aiosignal
annotated-types
async-timeout
attrs
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
cymem
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl#sha256
frozenlist
gTTS
idna
Jinja2
langcodes
MarkupSafe
multidict
murmurhash
numpy
openai
packaging
preshed
psycopg2
PyAudio
pydantic
pydantic_core
python-dateutil
python-decouple
requests
six
smart-open
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
SQLAlchemy
srsly
thinc
tqdm
typer
typing_extensions
urllib3
wasabi
weasel
yarl
apscheduler